# .env файл хранит токен твоего бота. Если надоело жить, можешь удалить этот файл/правило и сделать коммит в открытый источник
*.env
# И даже не думай хранить токен бота в коде

# Не думаю что тут надо объяснять
node_modules/

# Локальный файл для хранения очереди. Потом надо будет перенести в ОЗУ.
queue.json
